@import '../../../../assets/scss/utils/variables';
@import '../../../../assets/scss/utils/functions';
@import '../../../../assets/scss/utils/mixins';

.tabs-wrapper {
  display: flex;
  margin-top: 3rem;
  width: 100%;

  .tabs-header {
    display: flex;
    width: rem(140px);
    flex-direction: column;
    margin: 0 10px;

    .hide-btn {
      text-align: right;
      padding-bottom: 10px;
      color: $primary;
      font-weight: 600;
    }
  }
  .tabs-body{
    width: 100%;
  }
  .active {
    color: $primary;
    background-color: $primary-focused-bcg;
    border-right: 2px solid $primary;
    font-weight: 600;

  }

  .tab-label {
    cursor: pointer;
    text-align: initial;
    padding: 12px 24px;
  }
}
