<div *ngIf="employeeRole | async as employeeRole">
  <div id="form-container" class="dx-rtl">
    <form (submit)="onFormSubmit($event)">
      <dx-form 
        id="form" 
        [formData]="employeeRole" 
        class="position-relative mt-3" 
        [colCount]="4" 
        validationGroup="employeeData">
        <dxi-item
          itemType="group"
          [caption]="employeeRole.district1Description"
          cssClass="single-role p-5 m-3"
          [colCount]="1"
        >
          <!-- Table B -- Additional positions - welfare officials -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים נוספים – פקידי סעד' | translate: 'Additional positions - welfare officials'"
          >
            <dxi-item
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              dataField="tableBDistrict1Job"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableBDistrict1FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableBDistrict1UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableBDistrict1Minister"
              [label]="{ text: 'מינוי שר' | translate: 'Ministry' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: radioButtonOptions,
                layout: 'horizontal',
                displayExpr: 'text',
                valueExpr: 'value'
              }"
            >
            </dxi-item>
          </dxi-item>

          <!-- Table C -- Secondary positions - welfare officials. -->
          <!-- Table C -- job a -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים מישנים – פקידי סעד' | translate: 'Secondary positions - welfare officials.'"
          >
            <dxi-item
              editorType="dxSelectBox"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              dataField="tableCDistrict1AJob"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict1AFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict1AUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- Table C -- job b -->
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableCDistrict1BJob"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict1BFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict1BUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>

          <!-- Table A -- The social worker is responsible for professional trust workers -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            caption="The social worker is responsible for professional trust workers"
          >
            <dxi-item
              editorType="dxSelectBox"
              dataField="tableADistrict1Job"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableADistrict1FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableADistrict1UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>
        <dxi-item
          itemType="group"
          [caption]="employeeRole.district2Description"
          cssClass="single-role p-5 m-3"
          [colCount]="1"
        >
          <!-- Table B -- Additional positions - welfare officials -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים נוספים – פקידי סעד' | translate: 'Additional positions - welfare officials'"
          >
            <dxi-item
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              dataField="tableBDistrict2Job"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableBDistrict2FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableBDistrict2UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableBDistrict2Minister"
              [label]="{ text: 'מינוי שר' | translate: 'Ministry' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: radioButtonOptions,
                layout: 'horizontal',
                displayExpr: 'text',
                valueExpr: 'value'
              }"
            >
            </dxi-item>
          </dxi-item>

          <!-- Table C -- Secondary positions - welfare officials. -->
          <!-- Table C -- job a -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים מישנים – פקידי סעד' | translate: 'Secondary positions - welfare officials.'"
          >
            <dxi-item
              editorType="dxSelectBox"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              dataField="tableCDistrict2AJob"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict2AFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict2AUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- Table C -- job b -->
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableCDistrict2BJob"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict2BFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict2BUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>

          <!-- Table A -- The social worker is responsible for professional trust workers -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            caption="The social worker is responsible for professional trust workers"
          >
            <dxi-item
              editorType="dxSelectBox"
              dataField="tableADistrict2Job"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableADistrict2FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableADistrict2UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>

        <dxi-item
          itemType="group"
          [caption]="employeeRole.district3Description"
          cssClass="single-role p-5 m-3"
          [colCount]="1"
        >
          <!-- Table B -- Additional positions - welfare officials -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים נוספים – פקידי סעד' | translate: 'Additional positions - welfare officials'"
          >
            <dxi-item
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              dataField="tableBDistrict3Job"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableBDistrict3FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableBDistrict3UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableBDistrict3Minister"
              [label]="{ text: 'מינוי שר' | translate: 'Ministry' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: radioButtonOptions,
                layout: 'horizontal',
                displayExpr: 'text',
                valueExpr: 'value'
              }"
            >
            </dxi-item>
          </dxi-item>

          <!-- Table C -- Secondary positions - welfare officials. -->
          <!-- Table C -- job a -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים מישנים – פקידי סעד' | translate: 'Secondary positions - welfare officials.'"
          >
            <dxi-item
              editorType="dxSelectBox"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              dataField="tableCDistrict3AJob"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict3AFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict3AUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- Table C -- job b -->
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableCDistrict3BJob"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict3BFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict3BUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>

          <!-- Table A -- The social worker is responsible for professional trust workers -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            caption="The social worker is responsible for professional trust workers"
          >
            <dxi-item
              editorType="dxSelectBox"
              dataField="tableADistrict3Job"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableADistrict3FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableADistrict3UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>

        <dxi-item
          itemType="group"
          [caption]="employeeRole.district4Description"
          cssClass="single-role p-5 m-3"
          [colCount]="1"
        >
          <!-- Table B -- Additional positions - welfare officials -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים נוספים – פקידי סעד' | translate: 'Additional positions - welfare officials'"
          >
            <dxi-item
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              dataField="tableBDistrict4Job"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableBDistrict4FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableBDistrict4UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableBDistrict4Minister"
              [label]="{ text: 'מינוי שר' | translate: 'Ministry' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: radioButtonOptions,
                layout: 'horizontal',
                displayExpr: 'text',
                valueExpr: 'value'
              }"
            >
            </dxi-item>
          </dxi-item>

          <!-- Table C -- Secondary positions - welfare officials. -->
          <!-- Table C -- job a -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            [caption]="'תפקידים מישנים – פקידי סעד' | translate: 'Secondary positions - welfare officials.'"
          >
            <dxi-item
              editorType="dxSelectBox"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              dataField="tableCDistrict4AJob"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict4AFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict4AUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <!-- Table C -- job b -->
            <!-- tableBDistrict1Minister | CHECKBOX -->
            <dxi-item
              dataField="tableCDistrict4BJob"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableCDistrict4BFromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableCDistrict4BUntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>

          <!-- Table A -- The social worker is responsible for professional trust workers -->
          <dxi-item
            cssClass="single-role__title"
            itemType="group"
            caption="The social worker is responsible for professional trust workers"
          >
            <dxi-item
              editorType="dxSelectBox"
              dataField="tableADistrict4Job"
              [label]="{ text: 'תפקיד' | translate: 'Job' }"
              [editorOptions]="{
                dataSource: selectBoxData,
                valueExpr: 'id',
                searchEnabled: 'true',
                displayExpr: 'jobNumber',
                onInput: onValueChanged,
                valueChangeEvent: 'change'
              }"
            >
            </dxi-item>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
              <dxi-item
                [colCount]="1"
                cssClass="p-0 ml-3"
                dataField="tableADistrict4FromJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'מתאריך' | translate: 'Date from' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                [colCount]="1"
                cssClass="p-0"
                dataField="tableADistrict4UntilJob"
                editorType="dxDateBox"
                [editorOptions]="{ dataType: 'date', displayFormat: dateFormat }"
                [label]="{ text: 'עד תאריך' | translate: 'Date to' }"
              >
                <dxi-validation-rule type="range" [min]="minDate" [max]="maxDate" message="Out of selection range">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>
        <dxi-item
          cssClass="roles-save__btn"
          itemType="button"
          [buttonOptions]="{ text: 'שמירה' | translate: 'Save', type: 'success', useSubmitBehavior: true }"
        >
        </dxi-item>
      </dx-form>
    </form>
  </div>
</div>
<dx-toast [width]="150" [(visible)]="isVisibleToast" [type]="type" [message]="message">
  <dxo-position my="top left" at="top left" offset="10 10"> </dxo-position>
</dx-toast>
