<div class="quick-search">
  <div class="quick-search__wrapper">
    <div class="single-data">
      <div class="single-data__value">
        {{ 'מספר זהות' | translate: 'ID Number' }}
      </div>
      <div class="single-data__text">
        <input
          name="nationalId"
          type="number"
          class="form-control"
        />
      </div>
    </div>
    <div class="single-data">
      <div class="single-data__value">
        {{ 'שם פרטי' | translate: 'First Name' }}
      </div>
      <div class="single-data__text">
        <input name="firstName" type="text" class="form-control" />
      </div>
    </div>
    <div class="single-data">
      <div class="single-data__value">
        {{ 'מספר זהות' | translate: 'Last Name' }}
      </div>
      <div class="single-data__text">
        <input name="lastName" type="text" class="form-control" />
      </div>
    </div>

    <div class="single-data">

    </div>
  </div>
</div> 
