// Styles the quick search box
.quick-search__wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 2rem 1rem;

  // Overrides devExtreme styles of fields
  .dx-field {
    align-items: center;
    margin: auto 0;
    .dx-field-label {
      padding-left: 1rem;
    }
  }
}
