/**
  * You can override kendo styles and apply common styles in this file
  */

body {
  color: $text;
}

/**
  * Disable scrolling when sidebar opened
  */
.disableScrolling {
  overflow: hidden;
}

/**
 * Add triangle on top right if the data cell content has been changed
 */
.-is-edited:after {
  content: '';
  border-right: 8px solid transparent;
  border-top: 8px solid $error;
  left: 0;
  position: absolute;
  flex: auto;
}

/**
 * Flip arrow vertically when combobox or dropdown popup is opened
 */
[ng-reflect-popup-open='true'] ~ span.k-select,
span[aria-expanded='true'] ~ :not(.showMore) {
  .k-i-arrow-s::before {
    content: url('/assets/images/Vector.svg');
    top: 2px;
    transform: scale(-1);
  }
}

/**
 * dialog list scrollable
 */
.add-user__profile-list {
  height: 330px;
  overflow-y: scroll;

  & > div {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
  }
}

/**
 * Show more grid button styles overriding
 */
.showMore {
  * {
    border: none !important;
  }
}

#toolbar {
  flex-direction: row;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  #toolbar_buttons {
    display: flex;
    align-items: center;
    margin: 0 0 15px;

    button:not(#toolbar__save-button) {
      margin-left: 8px;
    }
  }
}

/**
 * Kendo date-range
 */
.date-range {
  border: 1px solid $bcg-inactive;
  display: flex;
}

.row-list__wrapper {
  padding: 0;
  .single-tab {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 10rem;
    text-align: initial;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1rem;

    &.-is-active {
      background: $primary-focused-bcg;
      border-right: 2px solid $primary;
      padding: 0.25rem 1rem;
      margin: 0.5rem 0;
    }
  }
}
.row-list__wrapper {
  .single-tab {
    margin: 0 !important;
    padding: 0.25rem 1rem !important;
  }
}
.inner-groupAccessContent {
  margin: 0 -12px;
}

.popup-trigger {
  margin-bottom: 0.2rem;
}

.footer-inner {
  height: rem(40px);
}

.dx-checkbox-container {
  padding-left: 0.5rem !important;
}

.dx-item.dx-treeview-item {
  padding-left: 3rem !important;
}

// Overrides default devextreme styles for footer
.footer-wrapper {
  .dx-dropdowneditor {
    .dx-dropdowneditor-field-clickable {
      // Removes default styles of select box
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    // Sets custom icon to select box
    .dx-dropdowneditor-icon {
      background-image: url('/assets/images/Vector.svg');
      background-size: auto;

      // Removes default icon
      &::before {
        content: none;
      }
    }

    // Styles placeholder and chosen theme text
    .dx-texteditor-input,
    .dx-placeholder {
      font-size: 0.9rem;
      font-weight: 600;
      color: $primary;
    }
  }

  // Removes border of select box
  .dx-editor-underlined::after {
    border-bottom: none;
  }

  // Styles language dropdown
  .language-dropdown {
    // Removes borders of the button
    .dx-rtl.dx-button-mode-outlined.dx-buttongroup-last-item {
      border: none !important;
    }
    // Removes button content padding
    .dx-rtl .dx-dropdownbutton-action.dx-buttongroup-last-item.dx-button .dx-button-content {
      padding: 0;
    }
    // Styles the button text
    .dx-button-text {
      font-size: rem(14px);
    }
    // Styles the button icon
    .dx-button-has-icon.dx-button-has-text .dx-icon {
      width: 16px;
      height: 16px;
    }
  }
}

// Removes page scrolling when dropdown popup is shown
.dx-overlay-wrapper.dx-popup-wrapper.dx-dropdownbutton-popup-wrapper {
  height: auto !important;
}

// Overrides default devextreme styles for employees list
.employee-screen {
  .dx-texteditor.dx-editor-underlined .dx-texteditor-input,
  .dx-placeholder {
    padding-right: rem(28px) !important;
  }
}

// Overrides the text alignment of dropdown popup
.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
  text-align: right !important;
}

//workplace tabs
.single-workspace {
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  border-radius: 2px;
}
//roles tabs
.single-role {
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  border-radius: 2px;
  padding: 2rem !important;
  .dx-field-item-content {
    .dx-form-group-with-caption {
      .dx-form-group-caption {
        font-size: 2rem;
      }
    }
  }
  &__title {
    .dx-field-item-content {
      .dx-form-group-with-caption {
        padding: 0 !important;
        .dx-form-group-caption {
          font-size: 1.25rem;
        }
        .dx-form-group-content {
          border-top: 0;
        }
      }
    }
  }
}

.roles-save__btn {
  position: absolute;
  left: 0;
  top: -4rem;
}
.workplace-save__btn {
  position: absolute;
  top: -4rem;
  left: 0;
}

// Overrides inkripple styles which breaks dropdowns when darkmoon or light themes chosen
.dx-inkripple {
  display: none;
}

// Overrides default styles for employee tabs
#employee-tabs {
  .dx-list-item-content {
    white-space: pre-wrap;
  }

  #gridContainer {
    max-width: 100% !important;
  }

  #form-container {
    margin-top: 3rem !important;
  }

  .dx-drawer-content {
    margin-right: 2rem;
  }
}
