<div id="form-container" class="dx-rtl">
  <dx-form id="form" [formData]="employee | async" [colCount]="4" action="your-action" (submit)="onFormSubmit($event)">
    <dxi-item itemType="group" cssClass="first-group" [colCount]="1">
      <!-- INPUT  -->
      <dxi-item
        dataField="birthDate"
        editorType="dxDateBox"
        [label]="{ text: ' תאריך לידה ' | translate: 'Birth date' }"
      >
      </dxi-item>

      <!-- CHECKBOX  -->
      <dxi-item
        data-field="sexId"
        [label]="{ text: 'מין' | translate: 'Sex' }"
        editorType="dxRadioGroup"
        [editorOptions]="{ dataSource: truefalse, layout: 'horizontal', valueExpr: 'value', displayExpr: 'text' }"
      >
      </dxi-item>

      <!-- CALENDAR  -->
      <dxi-item
        dataField="lastChildBirthDate"
        editorType="dxDateBox"
        [label]="{ text: ' תאריך לידה ' | translate: 'Birth of last child' }"
        [editorOptions]="{ width: '100%' }"
      >
      </dxi-item>

      <!-- SELECTBOX  -->
      <dxi-item
        dataField="employeeStatus"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: statuses$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>

      <!-- CALENDAR  -->
      <dxi-item
        dataField="professionalSeniority"
        editorType="dxDateBox"
        [label]="{ text: ' תאריך לידה ' | translate: 'Professional Seniority' }"
        [editorOptions]="{ width: '100%' }"
      >
      </dxi-item>

      <!-- SELECTBOX  -->
      <dxi-item
        dataField="employeeStatus"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: socialTrainings$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>

      <!-- SELECTBOX  -->
      <dxi-item
        dataField="employeeStatus"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: educationDegrees$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- SELECTBOX  -->
      <dxi-item
        dataField="employeeStatus"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: educationLevels$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" cssClass="first-group" [colCount]="1">
      <!-- CALENDAR  -->
      <dxi-item
        dataField="startDate"
        editorType="dxDateBox"
        [label]="{ text: ' תאריך לידה ' | translate: 'Professional Seniority' }"
        [editorOptions]="{ width: '100%' }"
      >
      </dxi-item>

      <!-- CALENDAR  -->
      <dxi-item
        dataField="startDate"
        editorType="dxDateBox"
        [label]="{ text: ' תאריך לידה ' | translate: 'Professional Seniority' }"
        [editorOptions]="{ width: '100%' }"
      >
      </dxi-item>

      <!-- SELECTBOX  -->
      <dxi-item
        dataField="leaveReasonId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: leaveReasons$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- SELECTBOX  -->
      <dxi-item
        dataField="commitmentId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: commitments$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- CHECKBOX  -->
      <dxi-item
        data-field="increasedWages"
        [label]="{ text: 'מין' | translate: 'Increased Wages' }"
        editorType="dxRadioGroup"
        [editorOptions]="{ dataSource: truefalse, layout: 'horizontal', valueExpr: 'value', displayExpr: 'text' }"
      >
      </dxi-item>

      <!-- SELECTBOX  -->
      <dxi-item
        dataField="proficiencyRewardId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: proficiencyRewards$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>

      <!-- CHECKBOX  -->
      <dxi-item
        data-field="diplomaReward"
        [label]="{ text: 'מין' | translate: 'Diploma Reward' }"
        editorType="dxRadioGroup"
        [editorOptions]="{ dataSource: truefalse, layout: 'horizontal', valueExpr: 'value', displayExpr: 'text' }"
      >
      </dxi-item>
      <!-- CHECKBOX  -->
      <dxi-item
        data-field="personalRank"
        [label]="{ text: 'מין' | translate: 'Personal Rank' }"
        editorType="dxRadioGroup"
        [editorOptions]="{ dataSource: truefalse, layout: 'horizontal', valueExpr: 'value', displayExpr: 'text' }"
      >
      </dxi-item>

      
    </dxi-item>
    <dxi-item itemType="group" cssClass="first-group" [colCount]="1">
      <!-- SELECTBOX  -->
      <dxi-item
        dataField="proficiencyRewardId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: generalCourses$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- SELECTBOX  -->
      <dxi-item
        dataField="proficiencyRewardId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: generalTrainings$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- SELECTBOX  -->
      <dxi-item
        dataField="proficiencyRewardId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: specialCourses$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- SELECTBOX  -->
      <dxi-item
        dataField="proficiencyRewardId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: specialTrainings$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- SELECTBOX  -->
      <dxi-item
        dataField="proficiencyRewardId"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource: wagesAdditions$ | async, displayExpr: 'description', valueExpr: 'code' }"
      >
      </dxi-item>
      <!-- INPUT -->
      <dxi-item
        dataField="framePercent"
        [label]="{ text: 'שמירה' | translate: 'frame Percent' }"
      >
      </dxi-item>
      <!-- CALENDAR  -->
      <dxi-item
        dataField="expertDate"
        editorType="dxDateBox"
        [label]="{ text: ' תאריך לידה ' | translate: 'Birth of last child' }"
        [editorOptions]="{ width: '100%' }"
      >
      </dxi-item>
    </dxi-item>
    <dxi-item cssClass="second-group">
      <dx-button id="button" text="Register" type="success" [useSubmitBehavior]="true"> </dx-button>
    </dxi-item>
  </dx-form>
</div>

<!-- <div class="add-employee">
  <div class="d-flex justify-content-sm-between">
    <div class="d-flex"></div>

    <div class="buttons d-flex">
      <button class="primary-button save-button mr-2">
        {{ 'שמירה' | translate: 'Save' }}
      </button>
    </div>
  </div>

  <form class="k-form" [formGroup]="form">
    <div class="form-row employee-data-rows row">
      <div class="form-col col-md-3 mx-3">
        <div class="personal-details">
          <div class="dx-field">
            <div class="dx-field-label">Horizontal layout</div>
            <div class="dx-field-value">
                <dx-radio-group
                    [items]="priorities"
                    layout="horizontal">
                </dx-radio-group>
            </div>
        </div>
          <div class="dx-field">
            <div class="dx-field-label">Horizontal layout</div>
            
        </div>
            <label
              text="'תאריך לידה' | translate: 'Birth Date'"
            ></label>

            <label class="input-label" text="'מין' | translate: 'Sex'"></label>
            <ul class="k-radio-list k-list-horizontal d-flex radio-buttons">
              <li class="k-radio-item d-flex">
                <input type="radio" #male [value]="gender.MALE"/>
                <label
                  class="k-radio-label my-0 mx-2"
                  [for]="male"
                  text="'זכר' | translate: 'Male'"
                ></label>
              </li>
              <li class="k-radio-item d-flex">
                <input type="radio" #female [value]="gender.FEMALE"/>
                <label
                  class="k-radio-label my-0 mx-2"
                  [for]="female"
                  text="'נקבה' | translate: 'Female'"
                ></label>
              </li>
            </ul>

          <label
            class="input-label"
            text="'תאריך ליד ילד אחרון' | translate: 'Birth of Last Child'"
          ></label>

          <hr />

          <label text="'סטטוס עובד ' | translate: 'Employee Status'"></label>

          <label
            class="input-label"
            text="'ותק מקצועי' | translate: 'Professional Seniority'"
          ></label>

          <label text="'ה. סוציאלית' | translate: 'Social Worker Trainer'"></label>

          <label text="'תואר' | translate: 'Degree'"></label>

          <div class="k-list-horizontal d-flex">
            <label text="'השכלה' | translate: 'Education'"></label>
            <label
              class="input-label"
              text="'שנות לימוד' | translate: 'Education Years'"
            ></label>
          </div>
        </div>
      </div>
      <div class="form-col education-work-column col-md-3 mx-3">
        <div class="personal-details">
          <label
            class="input-label"
            text="'ת. התחלה' | translate: 'Start Work Date'"
          ></label>

          <label
            class="input-label"
            text="'ת. סיום' | translate: 'End Work Date'"
          ></label>


          <label text="סיבת סיום' | translate: 'Leave Reason"></label>


          <hr />


          text="התחייבויות' | translate: 'Commitment"

            <label class="input-label" text="'שכר מוגדל' | translate: 'Increased wages'"></label>
            <ul class="k-radio-list k-list-horizontal d-flex radio-buttons">
              <li class="k-radio-item d-flex">
                <input
                  type="radio"
                  #no
                  [value]="radioButton.NO"
                  kendoRadioButton
                />
                <label class="k-radio-label my-0 mx-2" [for]="no" text="'לא' | translate: 'No'"></label>
              </li>
              <li class="k-radio-item d-flex">
                <input
                  type="radio"
                  #yes
                  [value]="radioButton.YES"
                  kendoRadioButton
                />
                <label class="k-radio-label my-0 mx-2" [for]="yes" text="'כן' | translate: 'Yes'"></label>
              </li>
            </ul>

            <label text="ג. השתלמות' | translate: 'Proficiency Reward"></label>

            <label class="input-label" text="'גמול תעודה' | translate: 'Diploma Reward'"></label>
            <ul class="k-radio-list k-list-horizontal d-flex radio-buttons">
              <li class="k-radio-item d-flex">
                <input type="radio" #no [value]="radioButton.NO"/>
                <label class="k-radio-label my-0 mx-2" text="'לא' | translate: 'No'"></label>
              </li>
              <li class="k-radio-item d-flex">
                <input
                  type="radio"
                  #yes
                />
                <label class="k-radio-label my-0 mx-2" text="'כן' | translate: 'Yes'"></label>
              </li>
            </ul>
          
          text="'דרגה אישית' | translate: 'Personal Rank'"
            <ul class="k-radio-list k-list-horizontal d-flex radio-buttons">
              <li class="k-radio-item d-flex">
                <input 
                type="radio" 
                #no />
                <label class="k-radio-label my-0 mx-2" text="'לא' | translate: 'No'"></label>
              </li>
              <li class="k-radio-item d-flex">
                text="'כן' | translate: 'Yes'"
                <input
                  type="radio"
                  #yes
                />
               
              </li>
            </ul>
          </div>
      </div>
      <div class="form-col col-md-3 mx-3">
        <div class="personal-details">
          text="קורס כללי' | translate: 'General Course"

          text="השת` כללי' | translate: 'General Training"

          text="קורס עו``ז' | translate: 'OZ Course"

          text="השת` עו``ז' | translate: 'OZ Training"

          text="'תוספות' | translate: 'Wages Additions'"

          <hr />

          <ul class="k-list-horizontal d-flex p-0">
            <li class="d-flex">
              text="'אחוז מסגרת' | translate: 'Frame Percent'"
            </li>
            <li class="d-flex mr-3">
              <div class="jobs-percent">
                  text="'אחוז משרות' | translate: 'Jobs Percent'"
              </div>
            </li>
          </ul>
          
          text="'קשר למשרות' | translate: 'Job Connection'"

          text="'ת. מומחיות' | translate: 'Date of Becoming an Expert'"
        </div>
      </div>
    </div>
  </form>
</div>  -->
