<div class="menu-header">
  <span class="menu-header__name">
    {{ 'תוכניות שרות' | translate: 'Service Programs' }}
  </span>
  <button class="primary-button" [routerLink]="['/']">&lt; Back</button>
</div>

<div class="container-fluid rows sub-menu">
  <!-- First row -->
  <div class="single-row">
    <a class="single-item orange" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/settings.svg" alt="gear icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'פרטי החברה' | translate: 'Companies Details' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item orange" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/settings.svg" alt="gear icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'הרשאות משתמשי המערכת' | translate: 'Users Privileges' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item orange" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/settings.svg" alt="gear icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'גיבוי נתוני המערכת' | translate: 'Backing-Up System's Data' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>

  <!-- Second row -->
  <div class="single-row">
    <a class="single-item orange" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/settings.svg" alt="gear icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'שיחזור נתוני המערכת' | translate: 'Restoring System's Data' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item orange" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/settings.svg" alt="gear icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'החנת / הצגת הודעות לתזכורת' | translate: 'Messages for Alerts' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item orange" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/settings.svg" alt="gear icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'Currently Active Users' | translate: 'משתמשים פעילים עכשיב ברשת' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>
