<div class="menu-header">
  <span class="menu-header__name">תחזוקת טבלאות </span>
  <button class="primary-button" [routerLink]="['/']">&lt; Back</button>
</div>

<div class="container-fluid rows">
  <!-- First row -->
  <div class="single-row">
    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלאות תאורים</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת מחלקות</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת דרגות</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת מוסדות</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>

  <!-- Second row -->
  <div class="single-row">
    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת פרמטרים</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת קודי דוחות</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת קודי ועדות</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת מועצות אזוריות</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>

  <!-- Third row -->
  <div class="single-row">
    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">טבלת לתאונות דרכים</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">הערות פתוחות לרשות</div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>
