<div class="menu-header">
  <span class="menu-header__name">
    {{ 'תחזוקת טבלאות' | translate: 'Tables Management' }}
  </span>
  <button class="primary-button" [routerLink]="['/']">&lt; Back</button>
</div>

<div class="container-fluid rows">
  <!-- First row -->
  <div class="single-row">
    <a class="single-item green" [routerLink]="['/general-tables']">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלאות תאורים' | translate: 'Descriptions Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת מחלקות' | translate: 'Departments Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת דרגות' | translate: 'Ranks Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת מוסדות' | translate: 'Institutes Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>

  <!-- Second row -->
  <div class="single-row">
    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת פרמטרים' | translate: 'Parameters Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת קודי דוחות' | translate: 'Reports Codes Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת קודי ועדות' | translate: 'Committees Codes Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת מועצות אזוריות' | translate: 'Local Councils Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>

  <!-- Third row -->
  <div class="single-row">
    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'טבלת לתאונות דרכים' | translate: 'Car Accidents Table' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>

    <a class="single-item green" [routerLink]="[]">
      <div class="single-item__icon">
        <img src="assets/images/routine-operations.png" alt="documents icon" srcset="" />
      </div>
      <div class="single-item__link">
        <div class="single-item__link--title">
          {{ 'הערות פתוחות לרשות' | translate: 'Council's Open Remarks' }}
        </div>

        <div class="single-item__link--arrow">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 3.5L11.5 8.5L6.5 13.5"
              stroke="#2B437C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>
