@import '../../../../../assets/scss/utils/variables';
@import '../../../../../assets/scss/utils/mixins';

/**
 * Styles for footer
 */
 .footer-wrapper {
  background: $bcg-table;
  position: fixed;
  bottom: 0;
  width: 100%;
  /**
   * Styles for lists of footer elements
   */
  .footer-inner {
    height: rem(40px);
    margin-bottom: 0;
    display: flex;
    list-style: none;
    /**
     * Styles for footer elements
     */
    li {
      padding: 0 1rem;
      margin: auto 0;
      font-size: .9rem;
      font-weight: 600;
      color: $primary;
      /**
       * Adds | to footer element if it is not the last one
       */
      &:not(:last-child) {
        border-left: 1px solid $primary-active;
      }
    }
  }
}
