@import '../../../../assets/scss/utils/variables';
@import '../../../../assets/scss/utils/mixins';
@import '../../../../assets/scss/utils/functions';

.employee-searchbar {
  display: flex;
  height: rem(37px);
  width: rem(407px);
  align-items: center;
  margin: 1rem auto;

  .k-textbox {
    width: 100%;
    padding-right: rem(15px);
  }

  img {
    color: $text;
    width: rem(20px);
  }
}
