<div id="form-container" class="dx-rtl" *ngIf="workplaceItem | async as workplaceItem">
  <form (submit)="onFormSubmit($event)">
    <dx-form
      id="form"
      [formData]="workplaceItem"
      [colCount]="4"
      validationGroup="employeeData"
      class="mt-3 position-relative"
    >
      <dxi-item itemType="group" [caption]="'מקום עבודה 1'" cssClass="single-workspace p-5 m-3" [colCount]="1">
        <dxi-item
          [colCount]="1"
          dataField="district"
          cssClass="p-0"
          editorType="dxSelectBox"
          [label]="{ text: 'מחוז' | translate: 'District' }"
          [editorOptions]="{
            value: workplaceItem.district
          }"
        ></dxi-item>
        <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
          <dxi-item
            [colCount]="1"
            dataField="department"
            cssClass="p-0"
            editorType="dxSelectBox"
            [label]="{ text: 'מחלקה' | translate: 'Department ID' }"
            [editorOptions]="{
              dataSource: departments$ | async,
              displayExpr: 'entryNumber',
              searchEnabled: 'true',
              valueExpr: 'entryNumber',
              value: workplaceItem.department
            }"
          ></dxi-item>
          <dxi-item
            [colCount]="1"
            dataField="departmentDescription"
            [editorOptions]="{ readOnly: true }"
            [label]="{ text: 'תאור מחלקה' | translate: 'Department' }"
          >
          </dxi-item>
        </dxi-item>
        <!-- Leave Reason | SELECTBOX  -->

        <dxi-item
          dataField="priorityRegion"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור עדיפות' | translate: 'Priority Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="councilTypeId"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'סוג רשות' | translate: 'Council type' }"
        >
        </dxi-item>
        <dxi-item
          dataField="geoRegionId"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור גיאוגרפי' | translate: 'Geographical Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="warning"
          editorType="dxTextArea"
          rows="4"
          [label]="{ text: 'הערות' | translate: 'Comment' }"
          [editorOptions]="{ placeholder: 'הוסף הערה או הערה' | translate: 'Add a remark or comment', height: 100 }"
        >
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" [caption]="'מקום עבודה 2'" cssClass="single-workspace p-5 m-3" [colCount]="1">
        <dxi-item
          [colCount]="1"
          dataField="district"
          cssClass="p-0"
          editorType="dxSelectBox"
          [label]="{ text: 'מחוז' | translate: 'District' }"
          [editorOptions]="{
            value: workplaceItem.district
          }"
        ></dxi-item>
        <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
          <dxi-item
            [colCount]="1"
            dataField="department2"
            cssClass="p-0"
            editorType="dxSelectBox"
            [label]="{ text: 'מחלקה' | translate: 'Department ID' }"
            [editorOptions]="{
              dataSource: departments$ | async,
              displayExpr: 'entryNumber',
              searchEnabled: 'true',
              valueExpr: 'entryNumber',
              value: workplaceItem.department2
            }"
          ></dxi-item>
          <dxi-item
            [colCount]="1"
            dataField="department2Description"
            [editorOptions]="{ readOnly: true }"
            [label]="{ text: 'תאור מחלקה' | translate: 'Department' }"
          >
          </dxi-item>
        </dxi-item>
        <dxi-item
          dataField="priorityRegion2"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור עדיפות' | translate: 'Priority Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="councilTypeId2"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'סוג רשות' | translate: 'Council type' }"
        >
        </dxi-item>
        <dxi-item
          dataField="geoRegion2Id"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור גיאוגרפי' | translate: 'Geographical Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="warning2"
          editorType="dxTextArea"
          rows="4"
          [label]="{ text: 'הערות' | translate: 'Comment' }"
          [editorOptions]="{ placeholder: 'הוסף הערה או הערה' | translate: 'Add a remark or comment', height: 100 }"
        >
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" [caption]="'מקום עבודה 3'" cssClass="single-workspace p-5 m-3" [colCount]="1">
        <dxi-item
          [colCount]="1"
          dataField="district"
          cssClass="p-0"
          editorType="dxSelectBox"
          [label]="{ text: 'מחוז' | translate: 'District' }"
          [editorOptions]="{
            value: workplaceItem.district
          }"
        ></dxi-item>
        <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
          <dxi-item
            [colCount]="1"
            dataField="department3"
            cssClass="p-0"
            editorType="dxSelectBox"
            [label]="{ text: 'מחלקה' | translate: 'Department ID' }"
            [editorOptions]="{
              dataSource: departments$ | async,
              displayExpr: 'entryNumber',
              searchEnabled: 'true',
              valueExpr: 'entryNumber',
              value: workplaceItem.department3
            }"
          ></dxi-item>
          <dxi-item
            [colCount]="1"
            dataField="department3Description"
            [editorOptions]="{ readOnly: true }"
            [label]="{ text: 'תאור מחלקה' | translate: 'Department' }"
          >
          </dxi-item>
        </dxi-item>
        <dxi-item
          dataField="priorityRegion3"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור עדיפות' | translate: 'Priority Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="councilTypeId3"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'סוג רשות' | translate: 'Council type' }"
        >
        </dxi-item>
        <dxi-item
          dataField="geoRegion3Id"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור גיאוגרפי' | translate: 'Geographical Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="warning3"
          editorType="dxTextArea"
          rows="4"
          [label]="{ text: 'הערות' | translate: 'Comment' }"
          [editorOptions]="{ placeholder: 'הוסף הערה או הערה' | translate: 'Add a remark or comment', height: 100 }"
        >
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" [caption]="'מקום עבודה 4'" cssClass="single-workspace p-5 m-3" [colCount]="1">
        <dxi-item
          [colCount]="1"
          dataField="district"
          cssClass="p-0"
          editorType="dxSelectBox"
          [label]="{ text: 'מחוז' | translate: 'District' }"
          [editorOptions]="{
            value: workplaceItem.district
          }"
        ></dxi-item>
        <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
          <dxi-item
            [colCount]="1"
            dataField="department4"
            cssClass="p-0"
            editorType="dxSelectBox"
            [label]="{ text: 'מחלקה' | translate: 'Department ID' }"
            [editorOptions]="{
              dataSource: departments$ | async,
              displayExpr: 'entryNumber',
              searchEnabled: 'true',
              valueExpr: 'entryNumber',
              value: workplaceItem.department4
            }"
          ></dxi-item>
          <dxi-item
            [colCount]="1"
            dataField="department4Description"
            [editorOptions]="{ readOnly: true }"
            [label]="{ text: 'תאור מחלקה' | translate: 'Department' }"
          >
          </dxi-item>
        </dxi-item>
        <dxi-item
          dataField="priorityRegion4"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור עדיפות' | translate: 'Priority Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="councilTypeId4"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'סוג רשות' | translate: 'Council type' }"
        >
        </dxi-item>
        <dxi-item
          dataField="geoRegion4Id"
          [editorOptions]="{ readOnly: true }"
          [label]="{ text: 'אזור גיאוגרפי' | translate: 'Geographical Region' }"
        >
        </dxi-item>
        <dxi-item
          dataField="warning4"
          editorType="dxTextArea"
          rows="4"
          [label]="{ text: 'הערות' | translate: 'Comment' }"
          [editorOptions]="{ placeholder: 'הוסף הערה או הערה' | translate: 'Add a remark or comment', height: 100 }"
        >
        </dxi-item>
      </dxi-item>

      <dxi-item
        cssClass="workplace-save__btn"
        itemType="button"
        [buttonOptions]="{ text: 'שמירה' | translate: 'Save', type: 'success', useSubmitBehavior: true }"
      >
      </dxi-item>
    </dx-form>
  </form>
</div>
<dx-toast [(visible)]="isVisibleToast" [type]="type" [message]="message">
  <dxo-position my="top left" at="top left" offset="10 10"> </dxo-position>
</dx-toast>
