@import '../../../../../assets/scss/utils/variables';
@import '../../../../../assets/scss/utils/mixins';
@import '../../../../../assets/scss/utils/functions';

// TODO: comment & remove redundant parts
.header-wrapper {
  background: rgba($primary, $alpha: 1);
  color: white;
  display: flex;
  justify-content: space-between;
  height: rem(62px);
  padding: 0 .5rem;

  &__inner {
    display: flex;
    width: 100%;
    padding: 26px 0px 5px;

    @include media-breakpoint-down(sm) {
      width: 90%;
      padding: 0;
      margin: 0;
      flex-direction: column-reverse;
      display: flex;
    }
  }
  &__left {
    margin: auto 0;
    .customer-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      @include media-breakpoint-down(sm) {
        width: 100%;
        padding-top: 0px;
      }

      &__wrapper {
        position: relative;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        .client-info__name {
          font-style: normal;
          font-weight: normal;
          width: max-content;
          font-size: 1rem;
          padding: 0 rem(10px);
          margin: 0;
          display: flex;
          align-items: center;
          cursor: pointer;

          @include media-breakpoint-down(sm) {
            font-size: rem(24px);
            line-height: 32px;
            margin: 0;
            padding-bottom: 5px;
            justify-content: center;
          }
        }

        .client-info_paragraph {
          margin-bottom: 0.3rem;
          @include fluid('font-size', 10, 16);

          @include media-breakpoint-down(sm) {
            font-size: 13px;
            text-align: center;
          }
        }

        .client-info__logout {
          position: absolute;
          top: 10px;
          color: #f9ac8c;
          width: fit-content;
          cursor: pointer;
          @include fluid('font-size', 12, 16);

          @include media-breakpoint-down(md) {
            right: auto;
          }

          @include media-breakpoint-down(sm) {
            font-size: 1rem;
            position: relative;
            right: 0;
            width: 100%;
            left: 0;
            text-align: center;
          }
        }
      }
      .payroll-wrapper {
        padding: 0 rem(24px);
        .payroll-wrapper__title {
          font-style: normal;
          font-weight: normal;
          text-align: initial;
          font-size: rem(9px);
          line-height: rem(12px);
          margin: 0;
        }

        .payroll-wrapper__value {
          font-style: normal;
          font-weight: normal;
          font-size: rem(19px);
          line-height: rem(25px);
          margin: 0;
        }
      }
      .company-logo {
        object-fit: contain;
        padding: 0 rem(24px);
        cursor: pointer;
        outline: none;
        @include fluid('height', 40, 40);

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

  &__right {
    display: flex;

    .customer-info {
      &__wrapper {
        margin: auto;
      }
      &__username {
        margin: auto .8rem;
      }
    }

    .client-info {
      display: inline-flex;
      padding: 0 1rem;
      margin: auto;
      .client-info_single {
        display: flex;
      }
      .client-info_paragraph {
        font-size: rem(14px);
        margin-bottom: 0;
        text-align: initial;
        width: max-content;
        min-width: rem(88px);
      }
      .user-photo {
        border-radius: 50%;
        background-color: #C7C1BD;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  .poweredby {
    top: 0;

    padding: 0 rem(24px);
    object-fit: contain;

    @include media-breakpoint-down(lg) {
      width: rem(150px);
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .menu-wrapper {
    //padding: 2px 26px 2px 6px;
    img {
      @include fluid('width', 16, 18);
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        width: 30px;
      }
    }
  }
}

.breadcrumb {
  background: #1d3265;
  color: white;
  display: flex;
  border-radius: 0;
  padding: 7px;
  @include fluid('padding', 0, 7);
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    padding: 7px;
  }

  .breadcrumb-inner {
    display: flex;
    align-items: center;
    position: relative;

    .breadcrumb-text {
      @include media-breakpoint-down(sm) {
        opacity: 0;
      }
    }

    .home {
      @include fluid('width', 20, 30);
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        width: 30px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
      padding: 0;
    }

    .hide-show-btn {
      cursor: pointer;
      color: #f9ac8c;
      position: absolute;
      @include fluid('font-size', 12, 16);

      @include media-breakpoint-down(sm) {
        position: absolute;
        font-size: 1rem;
      }
    }
  }
}

.menu-content {
  background: #fdfdfd;
  position: absolute;
  top: 0;
  min-width: 360px;
  height: -webkit-fill-available;
  transition: all 0.5s;
  transform: translateX(-405px);
  z-index: 99;

  &.is-active {
    transform: translateX(0px);
  }

  &__search {
    margin: 10px 24px;
    height: 36px;
    width: -webkit-fill-available;
    padding-left: 37px;
    background: $bcg;
    /* light4 */
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 3px;
    background-position: 5px 7px;
    background-image: url('/assets/images/search.png');
    background-repeat: no-repeat;
  }

  .close-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 26px 24px 5px;

    .close-btn__text {
      text-align: right;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: rgba($primary, $alpha: 1);
      letter-spacing: 0.07em;
      text-transform: uppercase;
      padding: 7px;
    }
  }

  .menu-title {
    display: block;

    h3 {
      font-size: 18px;
      line-height: 20px;
      /* or 111% */
      display: flex;
      align-items: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      /* Gray 3 */
      color: #828282;
      margin: 0;
      font-weight: 800;
    }
  }

  .menu-primary {
    padding: 0;
    list-style: none;

    .homepage-btn {
      font-weight: 600;
      font-size: 1rem;
      line-height: 21px;
      padding: 12px 24px;
      margin: 16px 0 8px;
      text-transform: capitalize;
    }

    .menu-primary_single {
      display: grid;

      a {
        color: #212529;
      }
    }

    .menu-inner {
      list-style: none;
      padding: 0;

      &.-hidden {
        display: none;
      }

      &.-opened {
        display: block;
      }

      &__header {
        padding: 12px 24px;
        display: inline-block;
        width: 100%;
        border-top: 1px solid $bcg-inactive;
        font-weight: 700;

        .-opened {
          transform: scaleY(1);
          transition: all 0.3s;
        }

        .-hidden {
          transform: scaleY(-1);
          transition: all 0.3s;
        }
      }

      .menu-inner__single {
        height: 48px;
        display: flex;
        padding: 0 44px;
        align-items: center;

        &:hover {
          background-color: $bcg-inactive;
        }
      }
    }
  }
}

.menu-overlay {
  &__bcg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(143, 143, 143, 0.1);
    z-index: 85;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.main-content {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;

  .full-info {
    border-radius: 3px;
    min-width: rem(200px);
    position: absolute;
    background: $bcg;
    color: $text;
    z-index: 1;
    left: -.8rem;
    top: 2rem;
    padding: 3rem;
    opacity: 0;
    visibility: hidden;
    box-shadow: $box-shadow;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    .close-svg {
      cursor: pointer;
    }
  }
}
