@import '../../../../../../../assets/scss/utils/variables';
@import '../../../../../../../assets/scss/utils/mixins';
@import '../../../../../../../assets/scss/utils/functions';

:host {
  display: block;
  font-size: rem(18px);
}

.dual-select {
  display: flex;
  height: rem(200px);
  width: 100%;

  &__left,
  &__right {
    flex: 0 0 auto;
    width: 48%;
  }

  &__controls {
    justify-content: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
  }

  &__control {
    padding: 0.5rem rem(10px);
    width: rem(40px);
    border: 1px solid $primary;
    height: rem(40px);
    margin: 0px 0px rem(10px) 0px;

    .icon {
      &.-is-right {
        transform: scaleX(-1);
      }
    }
  }

  &__items {
    border: 1px solid #cccccc;
    height: 100%;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    overflow: auto;
    overscroll-behavior: contain;
    padding: 0px 0px 0px 0px;
  }

  &__item {
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    padding: rem(13px) 0.5rem;
    transition: all 0.3s;
    user-select: none;
    text-align: initial;
    -moz-user-select: none;
    -webkit-user-select: none;
    animation-duration: 2s;
    animation-name: dual-select-item-new-fade-in;
    animation-timing-function: ease-out;

    &:last-child {
      border-bottom-width: 0px;
    }

    &--selected {
      background-color: $primary-focused-bcg;
      color: $primary;

      &:before {
        content: url(/assets/images/check.svg);
        padding: 0.5rem;
      }
    }

    &--new {
      animation-duration: 2s;
      animation-name: dual-select-item-new-fade-in;
      animation-timing-function: ease-out;
    }
  }

  .btn:disabled {
    border: 1px solid $text-inactive-light;

    img {
      filter: invert(82%) sepia(69%) saturate(4%) hue-rotate(351deg) brightness(93%) contrast(85%);
    }
  }
}

@keyframes dual-select-item-new-fade-in {
  0% {
    background-color: white;
  }

  25% {
    background-color: $primary-focused-bcg;
  }

  100% {
    background-color: white;
  }
}

.department {
  padding: 8px 10px 8px 10px;

  &__name {
    font-size: rem(18px);
    line-height: rem(22px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.note {
  font-family: monospace, sans-serif;
  font-size: 1rem;
}
