<kendo-formfield>
  <kendo-label [for]="comboBox" class="input-label" text="{{ options?.title }}">
  </kendo-label>
  <kendo-combobox
    #comboBox
    [data]="data$ | async"
    [textField]="'textField'"
    [valueField]="'entryNumber'"
    [value]="options?.value || options?.defaultValue"
    [filterable]="true"
    [valuePrimitive]="true"
    [formControl]="control"
    (filterChange)="handleFilter($event)"
    [disabled]="isDisabled"
    [placeholder]="'Start typing or select an item'"
  >
  </kendo-combobox>
</kendo-formfield>
