<main class="auth">
  <div class="container-fluid login-card">
    <div class="row no-gutters vh-100">
      <!-- Logo side -->
      <div class="col-xl-6 login-card__logo">
        <div class="logo-wrapper">
          <img src="assets/images/logo.svg" alt="login" class="logo-img" />
          <div class="logo-text">
            <p class="logo-heading">משרד הרווחה</p>
            <p>תחום ארגון מינהל וכח-אדם</p>
            <p>ברשויות המקומיות</p>
          </div>
        </div>
      </div>

      <!-- Form side -->
      <div class="col-xl-6 login-card__form">
        <sign-in></sign-in>
      </div>
    </div>
  </div>
</main>

<!-- Footer -->
<footer class="footer-wrapper">
  <ul class="footer-inner container-fluid">
    <li>
      {{ 'עזרה' | translate: 'Help' }}
    </li>
    <li kendoTooltip position="top">
      <span title="Build version: ">
        {{ 'אודות' | translate: 'About' }}
      </span>
    </li>
    <li kendoTooltip position="top">
      <dx-drop-down-button
        class="language-dropdown"
        displayExpr="text"
        icon="assets/images/language.svg"
        keyExpr="value"
        [activeStateEnabled]="false"
        [focusStateEnabled]="false"
        [hoverStateEnabled]="false"
        [items]="languages"
        [useSelectMode]="true"
        [selectedItemKey]="currentLanguage"
        (onItemClick)="selectLanguage($event)"
      ></dx-drop-down-button>
    </li>
  </ul>
</footer>
