dasdas

<!-- <div id="leave-work-tab">
  <kendo-grid
    [data]="(data$ | async) || defaultValue"
    [columnMenu]="{ filter: true }"
    filterable="menu"
    [filter]="state.filter || defaultFilter"
    [resizable]="true"
    [reorderable]="true"
    [groupable]="true"
    [group]="groups"
    [selectable]="true"
    [sortable]="true"
    [sort]="sort"
    [pageSize]="state.take || 0"
    [skip]="state.skip || 0"
    (groupChange)="groupChange($event)"
    (pageChange)="onPageStateChanges($event)"
    (dataStateChange)="onDataStateChange($event)"
    id="kendoGrid"
    #grid
  >
    <ng-template kendoGridToolbarTemplate [position]="'top'">
    </ng-template>

    <kendo-grid-checkbox-column
      [width]="40"
      [headerClass]="{ 'text-center': true }"
      [resizable]="false"
      [columnMenu]="false"
      [showSelectAll]="true"
    >
    </kendo-grid-checkbox-column>

    <kendo-grid-column field="activityCode" title="Activity Code" [width]="250"> </kendo-grid-column>
    <kendo-grid-column field="district" title="District" [width]="255"> </kendo-grid-column>
    <kendo-grid-column field="districtDescription" title="District Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="jobNumber" title="Job Number" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="jobPercent" title="Job Percent" [width]="470"> </kendo-grid-column>
    <kendo-grid-column field="department" title="Department" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="departmentDescription" title="Department Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="professionType" title="Profession" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="professionTypeDescription" title="Profession Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="professionTypeDate" title="Profession Date" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="from" title="From" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="until" title="Until" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="wagesFunding" title="Wage Funding" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="wagesFundingDescription" title="Wage Funding Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="budgetNumber" title="Budget Number" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="budgetNumberDescription" title="Budget Number Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="specialAgreement" title="Special Agreement" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="specialAgreementDescription" title="Special Agreement Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="normType" title="Norm Type" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="normTypeDescription" title="Norm Type Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="normGroup" title="Norm Group" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="normGroupDescription" title="Norm Group Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="rank" title="Rank" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="rankDescription" title="Rank Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="subRank" title="Subrank" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="subRankDescription" title="Subrank Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="subRankDate" title="Subrank Date" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="seniorityYears" title="Seniority Years" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="personalRank" title="Personal Rank" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="additionType" title="Addition Type" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="additionTypeDescription" title="Addition Type Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="councilType" title="Council Type" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="councilTypeDescription" title="Council Type Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="priorityRegion" title="Priority Region" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="geoRegion" title="Geo Region" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="geoRegionDescription" title="Geo Region Description" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="payrollDate" title="Payroll Date" [width]="200"> </kendo-grid-column>

    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
  </kendo-grid>
</div> -->
