/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

/* Grid Scrollbar */
.k-grid {
  ::-webkit-scrollbar-track
  {
    background: none;
  }

  ::-webkit-scrollbar
  {
    width: 10px;
    height: 6px;
    background: none;
  }

  ::-webkit-scrollbar-thumb
  {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: rgb(55,55,55, 0.3);
    height: 328px;
  }
}
